main{
    background-color: hsl(210, 29%, 27%);
    flex:1;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

a.button{
    color: inherit;
}

a.button{
    padding: 10px;
    background-color: hsl(19, 81%, 48%);
}

/* Typing anim */

/* .wrapper {
    height: 100vh;
    This part is important for centering
    display: flex;
    align-items: center;
    justify-content: center;
} */

.typing-demo {
    width: 26ch;
    animation: typing 2s steps(29), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent
    }
}