body {
  margin-top: 50px !important;
}

/* changé le code pour que ca prenne 10% de la hauteur de l'écran */
nav {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 50px;
  height: 100%;
  width: 100%;
  background: #2c3e50;
  color: #ecf0f1;
  z-index: 1000;
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 0;
  margin: 5px;
}

nav ul li {
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: .3s;
}

/* espace entre les boutons de nav */
nav ul li:nth-child(n+2) {
  margin-left: 5px;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  color: #ecf0f1;
}

nav ul li:hover {
  background: #223446;
}
